<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lambrk.messenger" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lambrk.messenger.Chat.ChatMediaActivity" />
        <activity android:name="com.lambrk.messenger.SplashScreenActivity" />
        <activity android:name="com.lambrk.messenger.UpdateAppActivity" />
        <activity android:name="com.lambrk.messenger.Group.GroupActiveMembersActivity" />
        <activity android:name="com.lambrk.messenger.WebViewActivity" />
        <activity android:name="com.lambrk.messenger.Group.InviteGroupActivity" />
        <activity android:name="com.lambrk.messenger.SetupUser.SetupActivity" />
        <activity android:name="com.lambrk.messenger.TestActivity" />
        <activity android:name="com.lambrk.messenger.Utils.PictureViewerActivity" />
        <activity android:name="com.lambrk.messenger.Group.GroupPostCommentActivity" />
        <activity android:name="com.lambrk.messenger.ExampleActivity" />
        <activity android:name="com.lambrk.messenger.Utils.FollowingActivity" />
        <activity android:name="com.lambrk.messenger.Group.GroupMembersActivtiy" />
        <activity android:name="com.lambrk.messenger.Notifications.NotificationsActivity" />
        <activity android:name="com.lambrk.messenger.Settings.SettingsChnageEmailAddressActivity" />
        <activity android:name="com.lambrk.messenger.Settings.SettingsEditUserDetailsActivity" />
        <activity android:name="com.lambrk.messenger.Settings.SettingsChangeUsernameActivity" />
        <activity android:name="com.lambrk.messenger.Settings.SettingsChangeProfilePictureActivity" />
        <activity android:name="com.lambrk.messenger.Settings.PrivacySettingsActivity" />
        <activity android:name="com.lambrk.messenger.Settings.GeneralSettingsActivity" />
        <activity android:name="com.lambrk.messenger.Settings.SettingsActivity" />
        <activity android:name="com.lambrk.messenger.VerificationCheckActivity" />
        <activity android:name="com.lambrk.messenger.SetupUser.SetupFinalActivity" />
        <activity android:name="com.lambrk.messenger.SetupUser.SetupUser3Activity" />
        <activity android:name="com.lambrk.messenger.SetupUser.SetupUser2Activity" />
        <activity android:name="com.lambrk.messenger.SetupUser.SetupUser1Activity" />
        <activity android:name="com.lambrk.messenger.Settings.ChnageBackgroundActivity" />
        <activity
            android:name="com.lambrk.messenger.OverallProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lambrk.messenger.Stories.StoryLikeCommentActivity" />
        <activity android:name="com.lambrk.messenger.Stories.StoryUserProfileViewerActivity" />
        <activity android:name="com.lambrk.messenger.Stories.StoriesUserProfileActivity" />
        <activity android:name="com.lambrk.messenger.Stories.StoriesActivity" />
        <activity android:name="com.lambrk.messenger.AddStoryActivity" />
        <activity android:name="com.lambrk.messenger.Group.GroupSearchActivity" />
        <activity
            android:name="com.lambrk.messenger.Group.GroupChatActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lambrk.messenger.Group.GroupActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lambrk.messenger.Group.CreateGroupFinalActivity" />
        <activity android:name="com.lambrk.messenger.Group.GroupUserProfileActivity" />
        <activity android:name="com.lambrk.messenger.Group.CreateGroupImageActivity" />
        <activity android:name="com.lambrk.messenger.StartActivity" />
        <activity android:name="com.lambrk.messenger.Group.CreateGroupActivity" />
        <activity android:name="com.lambrk.messenger.Search.SearchActivity" />
        <activity
            android:name="com.lambrk.messenger.ProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lambrk.messenger.Chat.ChatActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lambrk.messenger.RegisterActivity" />
        <activity android:name="com.lambrk.messenger.LoginActivity" />
        <activity android:name="com.lambrk.messenger.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.lambrk.messenger.Settings.AboutActivity" />

        <service
            android:name="com.lambrk.messenger.Services.FirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_burnab_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1270395256848586~8672385687"/>

    </application>

</manifest>